<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnCuq2XXUdRly2U6ER9osl_Ad8ptuR_FA</string>
	<key>GCM_SENDER_ID</key>
	<string>1016080161015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.prolineroofingandsolar.life</string>
	<key>PROJECT_ID</key>
	<string>life-1812f</string>
	<key>STORAGE_BUCKET</key>
	<string>life-1812f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016080161015:ios:c7dc72d3eb3d25d88f5bf2</string>
	<key>DATABASE_URL</key>
	<string>https://life-1812f-default-rtdb.firebaseio.com</string>
</dict>
</plist>